node_modules/
**/node_modules/
.env
**/.env
.env.local
**/.env.local
.env.production
**/.env.production
dist/
**/dist/
dist-ssr/
*.zip
*.apk
!payease-frontend-mobile-web-fixed/public/EducaFintech-v1.0.apk
*.log
**/*.log
.DS_Store
